@import "tailwindcss";
@import "./fonts.css";
@import "./map.css";

:root {
  --background: hsl(0, 0%, 9.4%);
  --background-secondary: hsl(0, 0%, 11.4%);
  --card-bg: hsl(0, 0%, 18.8%);
  --card-bg-secondary: hsl(120, 0.8%, 24.1%);
  --foreground: hsl(0, 0%, 32.9%);
  --foreground-hovered: hsl(0, 0.5%, 39.8%);
  --font: hsl(0, 1.2%, 83.7%);
  --font-shadow: hsl(0, 0%, 0%);
  --border: hsl(30, 1.6%, 23.9%);
  --icon: hsl(0, 0%, 63.1%);
  --accent: #4772B3;
  --input: hsl(240, 1.2%, 15.9%);


  font-family: "DejaVu", sans-serif;
  color: var(--font);
  text-shadow: 0px 1px 2px var(--font-shadow);
  line-height: 1;
  font-weight: 400;
  font-size: 100%;

  color-scheme: light;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-card-bg: var(--card-bg);
  --color-card-bg-secondary: var(--card-bg-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-hovered: var(--foreground-hovered);
  --color-font: var(--font);
  --color-border: var(--border);
  --color-icon: var(--icon);
  --color-accent: var(--accent);
  --color-input: var(--input)
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  width: 100%;
  cursor: pointer;
  background-color: var(--foreground);
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid var(--border);
  filter: drop-shadow(0px 2px 0px #343433);

  font-family: "DejaVu", sans-serif;
  color: var(--font);
  text-shadow: 0px 1px 2px var(--font-shadow);
  line-height: 1;
  font-weight: 400;
  font-size: 0.9rem;
}
button:hover {
  background-color: var(--foreground-hovered);
}
button:active {
  background-color: var(--accent);
}
