.leaflet-control-zoom-in {
  background-color: var(--input) !important;
  color: var(--font) !important;
  border: 1px solid var(--border) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
}
.leaflet-control-zoom-in:hover {
  background-color: var(--card-bg) !important;
}
.leaflet-control-zoom-in:active {
  background-color: var(--accent) !important;
}

.leaflet-control-zoom-out {
  background-color: var(--input) !important;
  color: var(--font) !important;
  border: 1px solid var(--border) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
}
.leaflet-control-zoom-out:hover {
  background-color: var(--card-bg) !important;
}
.leaflet-control-zoom-out:active {
  background-color: var(--accent) !important;
}

.leaflet-top {
  top: 3  0px !important;
} 